.main-footer {
    background: #fff;
    padding: 5px;
    color: #444;
    border-top: 1px solid #d2d6de;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
}

div._cs-audio > .well
{
    margin-bottom: 0;
    padding: 10px;
}

#plList {
    margin: 0;
    padding: 0;
}

#plList li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 6px 16px;
}

#plList li:hover {
    background-color: #d9d9d9;
}

.plSel, .plSel:hover {
    background-color: #d9d9d9 !important;
    cursor: default !important;
}
